table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
  tr:hover {background-color: coral;}
  
  
  body{
  
  background: url("../imagens/caes-gatos.jpg");
  background-repeat: no-repeat; background-size:  100%;
  background-color:DodgerBlue;
  }

  p{
    text-align:center;
  }

  a{
    align:center;
  }

  h1{
    border-style: solid;
    text-align:center;
  }